body {
    background: url("./images/background-image.jpg");

    margin: 0;
}

@font-face {
    font-family: NorseBold;
    src: url("./fonts/Norse-Bold.otf");
}

.left-div {
   background-color: black;
   width: 40%;
   height: 10em;
   margin-top: 190px;  
   opacity: 0.6; 
   float: left;
   font-family: NorseBold;
   color: white;
}

.logo-div {
    display: flex;
    margin-top: -25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1.0;
}

.logo-div h1 {
    font-size: 100px;
}

.logo-div img {
    width: 100px;
    margin-top: -20px;
}

.right-div {
    display: flex;
    background-color: rgb(250, 250, 250);
    width: 60%;
    height: 46em;
    float: right;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.right-div >h3 {
    margin-left: 1.7em;
}

.form-div {
    background-color: white;
    box-shadow: 1px 5px 5px lightgray;
    height: 17em;
}

.text-div {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.text-div form {
    width: 40em;
    column-gap: 1em;
    row-gap: 2em;
    flex-wrap: wrap;
    color: rgb(85, 85, 85);
}

.create-account-form {
    display: flex;
    flex-wrap: wrap;
    width: 10em;
}

.create-account-form div {
    display: flex;
    flex-wrap: wrap;
    width: 15em;
}

button {
    margin-left: 2.5em;
    margin-top: 2em;
    width: 12em;
    height: 3em;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
}

.log-in-div {
    margin-left: 2.1em;
    margin-top: 1em;
}

label {
    font-size: x-small;
}

input {
    height: 1.5em;
    width: 20em;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
}

.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-top: 30em;
}
